/*navbar*/
.navbar {
    background: #333;
    padding: 12px;
    text-align: left;
}

.navbar a {
    color: red;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: bold;
}

.navbar a:hover {
    background: #555;
    color: #ffeb3b;
}

/*main*/
#main-content {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 2;
}

/*rectangle boxes for sections*/
.section-box {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/*profile*/
.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 10px solid #333;
}

.profile-name {
    text-align: center;
}

.job-title {
    text-align: center;
    color: black;
    font-style: italic;
}

/*contacts*/
.contact-section p,
.contact-section a {
    font-size: 14px;
    color: #000;
}

.contact-section a:hover {
    color: blue;
}

/*skills*/
.skills-box {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/*about me*/
.right-column p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 15px;
}

/*messageme*/
.message-form input,
.message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #000;
    border-radius: 6px;
    box-sizing: border-box;
}

.message-form input[type="submit"] {
    background: #000;
    color: red;
    cursor: pointer;
    transition: 0.3s;
}

.message-form input[type="submit"]:hover {
    background: #555;
}

/*footer*/
footer {
    background: #000;
    color: red;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}