/* navbar */
.navbar {
    background: #333;
    padding: 12px;
}

.navbar a {
    color: red;
    text-decoration: none;
    padding: 10px 18px;
    font-weight: bold;
}

.navbar a:hover {
    background: #555;
    color: #ffeb3b;
}

/* font controls */
.font-controls {
    margin: 10px;
}

.font-controls button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

/* main */
#main-content {
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

/* profile */
.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: auto;
    border: 10px solid #333;
}

.job-title {
    text-align: center;
    font-style: italic;
}

/* skills */
.skills-box {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* message form */
.message-form input,
.message-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #000;
}

/* footer */
footer {
    background: #000;
    color: red;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar,
.dark-mode footer {
    background: #000;
}
